<!DOCTYPE html>
<html>
<head>
  <title>RoHo's Database of Things</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

  <nav>
    <ul>
      <li><a href="/things">Things</a></li>
      <li><a href="/things/new">Add Thing</a></li>
    </ul>
  </nav>

  <div>
    <%= yield %>
  </div>

</body>
</html>
