<form>
  <input type="text" id="thing-name" name="thing-name" placeholder="Name of thing">
  <input type="text" id="thing-type" name="thing-type" placeholder="Type of thing">
  <input type="text" id="img-url" name="img-url" placeholder="Image URL">
  <input type="checkbox" id="thing-edible" name="thing-edible">
  <input type="checkbox" id="thing-sitonable" name="thing-sitonable">
  <input type="text" id="img-url" name="img-url" placeholder="Thing rating (0-17)">
</form>

<%= <h1>pigs foot</h1> %>